---
import Layout from '../layouts/Layout.astro';
import BlixtCommunity from '../components/BlixtCommunity';
---

<Layout title="Blixt Wallet Grant Application">
	<h2>Background</h2>
	<p>
		In the aftermath of the great blocksize war, the Lightning Network has sprung up as a feasible scaling solution for the Bitcoin Network.
		Over the years we have seen tremendous progress and adoption with lots of projects, innovations, ideas that make the network more robust.
	</p>
	<p>
		There has been great progress in making Lightning easier to use, with concept of a Lightning Service Providers guiding the user
		regarding things such as channel management.
	</p>
	<p>
		We have also seen protocols making Lightning Network wallets more interoperable with the web, with the web protocol suite LNURL along with
		the Lightning Address format, WebLN and other technologies.
	</p>
	<h2>Enter Blixt Wallet</h2>
	<p>
		<a href="https://blixtwallet.com" target="_blank">Blixt Wallet</a> is an <a href="https://github.com/hsjoberg/blixt-wallet" target="_blank">open-source</a>
		and non-custodial Bitcoin Lightning Wallet for Android, iOS and macOS.
		<br />
		It's a full Lightning node running a real vanilla <a href="https://github.com/lightningnetwork/lnd" target="_blank">lnd</a> node inside the mobile app,
		giving tremendous power, utility and flexibility for the user. It uses Neutrino SPV in order to quickly sync the chain.
	</p>
	<p>
		Users enjoy a convenient default configuration, but rather than abstracting away concepts such as channels, Blixt Wallet tries to present them in a pedagogical way.
		Funds sent to the wallet (on-chain or Lightning) will make use of the Blixt Lightning Service Provider called
		<a href="https://github.com/hsjoberg/dunder-lsp" target="_blank">Dunder</a>. This means it's easy for new users to get on-boarded to the Lightning Network.
	</p>
	<p>
		For users who want more control, Blixt Wallet is designed to be customizable and they can enjoy a rich set of options.
		They can choose to sync with their own Bitcoin node and also stay more private by enabling Tor in the settings.
		If they have their own Lightning routing node, they can open a channel towards it instead of our Lightning node.
	</p>
	<p>
		The Blixt Wallet project has an official <a href="https://mempool.space/lightning/node/0230a5bca558e6741460c13dd34e636da28e52afd91cf93db87ed1b0392a7466eb" target="_blank">Lightning node</a>
		that wallet users can open channels to (with Dunder). The node is well connected within the network and usually ranks high on node scoring lists.
		This makes sure that users will have a good experience while using the wallet.
	</p>
	<p>
		We keep up with cutting edge development and the app has very rich support for emerging technologies such as LNURL, Lightning Address, WebLN, Keysend and more.
	</p>
	<p>
		Blixt Wallet stays close to lnd and the wallet is running it internally without any modifications. This means that Blixt Wallet funds
		can easily be recovered via lnd on desktop.
		Because of this design choice, Blixt Wallet is usually the go-to solution for users with an Umbrel node that has stopped working. They can
		safely recover their funds by restoring them with Blixt Wallet.
	</p>
	<p>
		Blixt Wallet also has a lot of unique features that makes it stick out, such as a Contact List for LNURL-pay, LNURL-withdraw and Lightning Address codes. This will be further
		extended to support Keysend, BOLT12 and other emerging technologies.
		<br />
	  We have also created <a href="https://github.com/lightning/blips/blob/master/blip-0011.md" target="_blank">bLIP-0011 NameDesc</a>, which is a simple protocol to standardize
		recipient naming conventions in BOLT-11 invoices.
		<br />
		Blixt Wallet is one of the few wallets that has Keysend support, letting users send payments to supported nodes and services without an invoice.
	</p>
	<h2>Strong Community</h2>
	<div style="float: left; margin-right: 16px">
		<img src="/growth.jpg" width="220" />
		<div><small>Active Android users</small></div>
	</div>
	<p>
		Despite being one of the smaller wallet projects, Blixt Wallet has a strong and helpful community. Users in need of help have a lot of guides and resources
		at their disposal.
		<br />
		The official Telegram chat group is very active with over 500 users. This is comparable to other more popular Lightning wallets.
		We have a healthy set of enthusiastic users and contributors that help out with suggestions, testing the app and more.
	</p>
	<p>
		Ever since mid 2021, Blixt Wallet is seeing a steady growth in number of users.
		The app is spreading via grassroots support and we see independent people reviewing and posting about Blixt Wallet on YouTube, Twitter and other platforms.
		<br />
		Blixt Wallet is especially growing in Spanish-speaking countries, with an estimated 50% of users being Spanish-speaking.
		Since version <a href="https://github.com/hsjoberg/blixt-wallet/releases/tag/v0.6.0" target="_blank">0.6.0</a>, the app has been translated
		into Spanish (along with 8 other languages).
	</p>
	<p>
		We have a rich knowledge base for our users, with guides, FAQ and other articles on our <a href="https://blixtwallet.github.io" target="_blank">website</a>
		as well as <a href="darthcoin.substack.com/" target="_blank">DarthCoin's Substack</a>. User documentation is very important to us and we update it periodically.
	</p>
	<div style="clear: both"></div>

	<h2>A Bitcoin ethos midset</h2>
	<p>
		Blixt Wallet is being developed with a Bitcoin ethos. The wallet is fully open-source with
		an <a href="https://github.com/hsjoberg/blixt-wallet/blob/master/LICENSE" target="_blank">MIT license</a>.
		<br />
		All related services and projects such as Dunder LSP are also open-source and users can choose to run their own LSP
		if they want to.
		<br />
	</p>
	<p>
		We stay committed to Bitcoin and focus solely on improving the Bitcoin and Lightning Network ecosystem. The wallet only supports Bitcoin and we envision a
		world where Bitcoin would serve as the global, open and censorship-resistant currency.
	</p>
	<h2>Planning for the future</h2>
	<p>
		The Blixt Wallet project has many plans moving forward and we will list the larger topics here.
	</p>
	<h3>Dunder LSP</h3>
	<p>
		<a href="https://github.com/hsjoberg/dunder-lsp" target="_blank">Dunder LSP</a> is our Lightning Service Provider software.
		<br />
		It's built in NodeJS and works together with a normal lnd node. This makes it easy for anyone to run their own LSP
		if they want to.
		<br />
		Dunder LSP works together with Blixt Wallet, but other Lightning wallets can also choose to support it.
	</p>
	<p>
		It currently supports on-demand channels, meaning Dunder LSP can open a channel on-the-fly if the user does not have
		sufficient inbound liquidity.
		The user simply has to create an invoice inside Blixt Wallet and Dunder LSP will automatically kick in.
		<br />
		This functionality is currently under open beta. We wish to make the service robust and production-ready.
	</p>
	<p>
		We wish to further extend the LSP software with other functionality such as LN<->on-chain swaps and other features.
	</p>
	<h3>Desktop versions</h3>
	<div style="float: right; margin-left: 16px">
		<img src="/blixt-macos.png" width="200" />
		<div><small>Blixt Wallet for macOS</small></div>
	</div>
	<p>
		Since version <a href="https://github.com/hsjoberg/blixt-wallet/releases/tag/v0.6.0" target="_blank">0.6.0</a>,
		Blixt Wallet is also available on the macOS, joining as one of the few Lightning wallets for the desktop.
		We wish to further establish Blixt Wallet on the desktop with Windows and Linux versions too.
	</p>
	<p>
		Blixt Wallet is developed in react-native. This means that most of the codebase can be re-used for other platforms.
		Work is already on-going on a <a href="https://github.com/hsjoberg/blixt-wallet/tree/electron" target="_blank">Linux version</a>,
		but we plan to start working on a Windows version as well.
	</p>
	<div style="clear: both"></div>
	<h3>Lightning Box</h3>
	<p>
		<a href="https://github.com/hsjoberg/lightning-box" target="_blank">Lightning Box</a> is a trust-minimized
		Lightning Address solution for non-custodial wallets.
		<br />
		The Lightning Box provider will take payments on behalf of the user and then notify them via a communication medium.
		The user can then open up their wallet in order to drain the cached funds via LNURL-withdraw.
	</p>
	<p>
		If the user wallet is already online at the time of the payment, the funds can be forwarded to the wallet, without requiring any trust.
	</p>
	<p>
		Lightning Address is a tricky problem to solve for non-custodial wallets.
		Right now, if you want to use Lightning Address, there is no non-custodial mobile wallet that you can use.
		The options are either to host your own infrastructure or use a custodial wallet.
	</p>
	<p>
		While our Lightning Box solution is custodial, it's supposed to minimize risks and providers may choose to limit the max amount that
		the Box will hold for each user. The user is supposed to withdraw from the box as soon as possible.
	</p>
	<p>
		With the same design as Dunder LSP, the Lightning Box software will also be easy to self-deploy, only requiring an lnd node and NodeJS.
	</p>
	<p>
		Long-term, we may work on a solution where the Lightning Box provider would wake up the app via a push notification in order
		to receive the payment.
	</p>
	<h3>Push notification chain syncing via Firebase</h3>
	<p>
		In order to keep up with the chain, Blixt Wallet on Android syncs via a background job every 3 hours.
		<br />
		However, depending on phone vendor and other factors, it's not a guarantee that the sync job will start up.
		Furthermore, this feature is not available for iOS.
	</p>
	<p>
		In order to improve upon this, we plan to implement Firebase high-priority push notifications.
		This has a stronger guarantee of waking the app up on Android and will allow scheduled background sync for
		the first time on the iOS app.
	</p>
	<h3>Bitcoin.Design collaboration</h3>
	<p>
		We have a collaboration with the <a href="https://bitcoin.design" target="_blank">Bitcoin Design collective</a>, with a
	  project focusing on revamping the on-boarding experience.
	</p>
	<p>
		There are design files ready for the revamped on-boarding and we plan to start implementing it into Blixt Wallet.
	</p>
	<h3>Sync optimizations</h3>
	<p>
		In order to improve user experience, we are working on optimizing chain and lightning graph synchronization.
	</p>

	<h2>Financials</h2>
	<p>
		Since the project's inception in the beginning of 2019, it has been self-funded by the founder Hampus Sjöberg.
	</p>
	<p>
		In order to keep this project going and stay to independent, we are seeking a grant to cover the following:
	</p>
	<ul>
		<li>Full-time salary for Hampus Sjöberg of $100k/year</li>
		<li>Minor server costs of $1200/year</li>
		<li>Liquidity to keep our Dunder LSP instance running</li>
	</ul>
	<p>
		Thank you for considering our project proposal.
		<br />
	  <i>Hampus Sjöberg, Darthcoin and community members.</i>
	</p>
	<BlixtCommunity client:visible />
	<h2>Contact</h2>
	<ul>
		<li>GitHub project: <a href="https://github.com/hsjoberg/blixt-wallet" target="_blank">hsjoberg/blixt-wallet</a></li>
		<li>Website: <a href="https://blixtwallet.com" target="_blank">blixtwallet.com</a></li>
		<li>Email: hampus.sjoberg at protonmail.com</li>
		<li>Telegram group: <a href="https://t.me/blixtwallet" target="_blank">@BlixtWallet</a></li>
		<li>Hampus Telegram: <a href="https://t.me/hsjoberg" target="_blank">@hsjoberg</a></li>
		<li>Hampus Twitter: <a href="https://twitter.com/hampus_s" target="_blank">@hampus_s</a></li>
	</ul>
</Layout>
<style>
	h1 {
		font-size: 2.5rem;
		font-weight: 800;
		margin: 0;
	}
</style>
<style is:global>
	.blixt-community {
		margin-top: 20px;
		display: flex;
		flex-direction: row;
	}

	@media screen and (max-width: 718px) {
		.blixt-community {
			flex-direction: column;
		}
	}

	.blixt-community img {
		padding: 1px
	}

	.hampus img {
		width: 150px;
		border-radius: 128px;
	}

	.blixt-contributors {
		display: flex;
		flex-direction: row;
		flex: 1;
	}

	.community-member {
		display: inline-block;
		padding: 2px;
	}

	.community-member img {
		width: 75px;
		border-radius: 75px;
	}
</style>
